In [9]:
import pandas as pd

In [10]:
artists = pd.read_csv('../data/artists.csv')

In [11]:
artists

,ConstituentID,DisplayName,ArtistBio,Nationality,Gender,BeginDate,EndDate,Wiki QID,ULAN
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,NaN,NaN
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,NaN,NaN
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,NaN,NaN
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998.0
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
15238,135018,Abdoulaye Konaté,"Malian, born 1953",Malian,NaN,1953,0,NaN,NaN
15239,135032,Yolanda Lopez,"American, 1942 – 2021",American,Female,1942,2021,NaN,NaN
15240,135042,Arnt Jensen,"Danish, born 1971",Danish,Male,1971,0,NaN,NaN
15241,135111,After Sophie Taeuber-Arp,"French, born Switzerland. 1889–1943",NaN,NaN,0,0,NaN,NaN
15242,135298,William Theophilius Brown,"American, 1919–2012",American,Male,1919,2012,NaN,NaN

In [12]:
artworks = pd.read_csv('../data/artworks.csv')

In [13]:
artworks

,Title,Artist,ConstituentID,ArtistBio,Nationality,BeginDate,EndDate,Gender,Date,Medium,...,ThumbnailURL,Circumference (cm),Depth (cm),Diameter (cm),Height (cm),Length (cm),Weight (kg),Width (cm),Seat Height (cm),Duration (sec.)
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,http://www.moma.org/media/W1siZiIsIjUyNzc3MCJd...,NaN,NaN,NaN,48.6000,NaN,NaN,168.9000,NaN,NaN
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,http://www.moma.org/media/W1siZiIsIjUyNzM3NCJd...,NaN,NaN,NaN,40.6401,NaN,NaN,29.8451,NaN,NaN
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, pen, color pencil, ink, and gouache ...",...,http://www.moma.org/media/W1siZiIsIjUyNzM3NSJd...,NaN,NaN,NaN,34.3000,NaN,NaN,31.8000,NaN,NaN
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,7056,"(French and Swiss, born Switzerland 1944)",(),(1944),(0),(Male),1980,Photographic reproduction with colored synthet...,...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NCJd...,NaN,NaN,NaN,50.8000,NaN,NaN,50.8000,NaN,NaN
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,7605,"(Austrian, 1876–1957)",(Austrian),(1876),(1957),(Male),1903,"Graphite, color pencil, ink, and gouache on tr...",...,http://www.moma.org/media/W1siZiIsIjUyNzQ3NSJd...,NaN,NaN,NaN,38.4000,NaN,NaN,19.1000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140843,"Page from Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,Page from a spiral-bound sketchbook with penci...,...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140844,"Page from Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,Page from a spiral-bound sketchbook with penci...,...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140845,"Page from Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,Page from a spiral-bound sketchbook with penci...,...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140846,"Front cover of Sketchbook #24, New York City",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,"Spiral-bound sketchbook with pencil, ballpoint...",...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN
140847,"Front cover (verso) of Sketchbook #24, New Yor...",Ellsworth Kelly,3048,"(American, 1923–2015)",(American),(1923),(2015),(Male),1954-55,"Spiral-bound sketchbook with pencil, ballpoint...",...,NaN,NaN,0.0,NaN,30.8000,NaN,NaN,22.5000,NaN,NaN

In [14]:
artists.Gender = artists.Gender.str.lower()
artists.Gender.unique()

array(['male', 'female', nan, 'non-binary'], dtype=object)

In [15]:
artworks.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio', 'Nationality',
       'BeginDate', 'EndDate', 'Gender', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)'],
      dtype='object')

In [16]:
artists.columns

Index(['ConstituentID', 'DisplayName', 'ArtistBio', 'Nationality', 'Gender',
       'BeginDate', 'EndDate', 'Wiki QID', 'ULAN'],
      dtype='object')

In [17]:
artworks.DateAcquired = pd.to_datetime(artworks.DateAcquired)

In [18]:
artworks.DateAcquired.min()

Timestamp('1929-11-19 00:00:00')

In [19]:
artworks.DateAcquired.max()

Timestamp('2022-09-20 00:00:00')

In [20]:
artworks.Title.groupby(artworks.DateAcquired.dt.year).count()

DateAcquired
1929.0       9
1930.0       7
1931.0       3
1932.0      18
1933.0      93
          ...
2018.0    2499
2019.0    2284
2020.0    1655
2021.0     917
2022.0     404
Name: Title, Length: 94, dtype: int64

In [21]:
artists.ConstituentID

0             1
1             2
2             3
3             4
4             5
          ...
15238    135018
15239    135032
15240    135042
15241    135111
15242    135298
Name: ConstituentID, Length: 15243, dtype: int64

In [22]:
artworks = artworks[artworks.ConstituentID.str.contains(",") == False]

In [23]:
artworks.ConstituentID = artworks.ConstituentID.astype(int)

/var/folders/0p/s0q9sv6n1rb0g_gws3kj142w0000gn/T/ipykernel_5906/3279413765.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  artworks.ConstituentID = artworks.ConstituentID.astype(int)

In [24]:
df = pd.merge(artworks, artists, on="ConstituentID")

In [25]:
df.Gender_y = df.Gender_y.str.lower()

In [26]:
df.Gender_y.unique()

array(['male', 'female', nan, 'non-binary'], dtype=object)

In [27]:
df = df[df.Gender_y.notna()]

In [28]:
df.head()

,Title,Artist,ConstituentID,ArtistBio_x,Nationality_x,BeginDate_x,EndDate_x,Gender_x,Date,Medium,...,Seat Height (cm),Duration (sec.),DisplayName,ArtistBio_y,Nationality_y,Gender_y,BeginDate_y,EndDate_y,Wiki QID,ULAN
0,"Ferdinandsbrücke Project, Vienna, Austria (Ele...",Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1896,Ink and cut-and-pasted painted pages on paper,...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
1,Armchair,Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1902,Beech wood and aluminum,...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
2,Stool,Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1904,"Bent beech wood, molded plywood, and aluminum",...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
3,Railing,Otto Wagner,6210,"(Austrian, 1841–1918)",(Austrian),(1841),(1918),(Male),1899,Painted cast-iron,...,NaN,NaN,Otto Wagner,"Austrian, 1841–1918",Austrian,male,1841,1918,Q84287,500016971.0
4,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,7470,"(French, born 1944)",(French),(1944),(0),(Male),1987,Paint and colored pencil on print,...,NaN,NaN,Christian de Portzamparc,"French, born 1944",French,male,1944,0,Q312838,500024982.0

In [244]:
df.columns

Index(['Title', 'Artist', 'ConstituentID', 'ArtistBio_x', 'Nationality_x',
       'BeginDate_x', 'EndDate_x', 'Gender_x', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL',
       'Circumference (cm)', 'Depth (cm)', 'Diameter (cm)', 'Height (cm)',
       'Length (cm)', 'Weight (kg)', 'Width (cm)', 'Seat Height (cm)',
       'Duration (sec.)', 'DisplayName', 'ArtistBio_y', 'Nationality_y',
       'Gender_y', 'BeginDate_y', 'EndDate_y', 'Wiki QID', 'ULAN'],
      dtype='object')

In [245]:
ff = df[['Title','Artist','DisplayName','ConstituentID','ArtistBio_y', 'Nationality_y',
       'Gender_y', 'BeginDate_y', 'EndDate_y', 'Wiki QID', 'ULAN', 'Date', 'Medium', 'Dimensions',
       'CreditLine', 'AccessionNumber', 'Classification', 'Department',
       'DateAcquired', 'Cataloged', 'ObjectID', 'URL', 'ThumbnailURL']]

In [246]:
ff.loc[:, 'DateAcquired'] = pd.to_datetime(ff.DateAcquired)

/var/folders/0p/s0q9sv6n1rb0g_gws3kj142w0000gn/T/ipykernel_5906/4135104848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ff.loc[:, 'DateAcquired'] = pd.to_datetime(ff.DateAcquired)
/var/folders/0p/s0q9sv6n1rb0g_gws3kj142w0000gn/T/ipykernel_5906/4135104848.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  ff.loc[:, 'DateAcquired'] = pd.to_datetime(ff.DateAcquired)

In [32]:
gg = ff.groupby([ff.DateAcquired.dt.year, ff.Gender_y]).count()

In [33]:
gg = gg.rename_axis(['DateAcquired_yr', 'Gender'])

In [34]:
gg = gg.reset_index()

In [35]:
out = gg[['DateAcquired_yr','Gender','Title']]

In [36]:
out = out.rename(columns={"Title": "Count"})

In [38]:
out.to_csv("met_data.csv")

In [39]:
out

     DateAcquired_yr      Gender  Count
0             1929.0        male      9
1             1930.0        male      7
2             1931.0        male      3
3             1932.0      female      1
4             1932.0        male     16
..               ...         ...    ...
184           2020.0  non-binary      1
185           2021.0      female    468
186           2021.0        male    308
187           2022.0      female    131
188           2022.0        male    184

[189 rows x 3 columns]

In [40]:
pivoted = out.pivot(index="DateAcquired_yr", columns="Gender", values="Count")

In [41]:
pivoted.to_csv("met_data_shaped.csv")

In [42]:
pivoted

Gender           female    male  non-binary
DateAcquired_yr
1929.0              NaN     9.0         NaN
1930.0              NaN     7.0         NaN
1931.0              NaN     3.0         NaN
1932.0              1.0    16.0         NaN
1933.0              NaN    93.0         NaN
...                 ...     ...         ...
2018.0            912.0  1277.0         1.0
2019.0            405.0  1158.0         NaN
2020.0            153.0  1318.0         1.0
2021.0            468.0   308.0         NaN
2022.0            131.0   184.0         NaN

[94 rows x 3 columns]

## Trying unique artists based on class feedback

In [57]:
u = ff.groupby([ff.DateAcquired.dt.year, ff.ConstituentID]).first()

In [58]:
u = u.groupby([u.DateAcquired.dt.year, u.Gender_y]).count()

In [59]:
u = u.rename_axis(['DateAcquired_yr', 'Gender'])
u = u.reset_index()
uniques = u[['DateAcquired_yr','Gender','Title']]
uniques = uniques.rename(columns={"Title": "Count"})

In [60]:
uniques

     DateAcquired_yr      Gender  Count
0               1929        male      6
1               1930        male      6
2               1931        male      3
3               1932      female      1
4               1932        male      7
..               ...         ...    ...
184             2020  non-binary      1
185             2021      female    100
186             2021        male     90
187             2022      female     39
188             2022        male     70

[189 rows x 3 columns]

In [61]:
uniques.to_csv("unique_artists_moma_data.csv")

In [62]:
pivoted_uniques = uniques.pivot(index="DateAcquired_yr", columns="Gender", values="Count")
pivoted_uniques.to_csv("unique_artists_moma_data_shaped.csv")

In [63]:
pivoted_uniques

Gender           female   male  non-binary
DateAcquired_yr
1929                NaN    6.0         NaN
1930                NaN    6.0         NaN
1931                NaN    3.0         NaN
1932                1.0    7.0         NaN
1933                NaN    3.0         NaN
...                 ...    ...         ...
2018              136.0  368.0         1.0
2019               74.0  101.0         NaN
2020               76.0   52.0         1.0
2021              100.0   90.0         NaN
2022               39.0   70.0         NaN

[94 rows x 3 columns]

In [728]:
v = ff.groupby([ff.DateAcquired.dt.year, ff.ConstituentID, ff.Classification]).first()

In [729]:
v = v.rename_axis(['DateAcquired_yr', 'Gender', 'Classification'])
v = v.reset_index()
v = v.groupby([v.DateAcquired.dt.year, v.Gender_y, v.Classification])["Title"].count().reset_index(name="gender_year_classification_count")

In [730]:
v.loc[:, 'gender_year_count'] = v.groupby(["DateAcquired", "Gender_y"])['gender_year_classification_count'].transform(sum)
v

,DateAcquired,Gender_y,Classification,gender_year_classification_count,gender_year_count
0,1929,male,Drawing,1,7
1,1929,male,Print,6,7
2,1930,male,Drawing,2,6
3,1930,male,Painting,1,6
4,1930,male,Print,1,6
...,...,...,...,...,...
1576,2022,male,Painting,6,76
1577,2022,male,Photograph,34,76
1578,2022,male,Print,10,76
1579,2022,male,Sculpture,5,76
1580,2022,male,Video,3,76

In [326]:
v.to_csv("unique_artists_classifications_moma_data.csv")

In [359]:
pivoted_v = v.pivot(index=["DateAcquired", "Classification"], columns=["Gender_y"], values=['gender_year_classification_count'])
pivoted_v.columns = pivoted_v.columns.droplevel(0)
pivoted_v.to_csv("unique_artists_classifications_moma_data_shaped.csv")

##

In [367]:
v.pivot(index=["DateAcquired", "Classification"], columns=["Gender_y"], values=['gender_year_classification_count','gender_year_count'])

                            gender_year_classification_count                   \
Gender_y                                              female  male non-binary
DateAcquired Classification
1929         Drawing                                     NaN   1.0        NaN
             Print                                       NaN   6.0        NaN
1930         Drawing                                     NaN   2.0        NaN
             Painting                                    NaN   1.0        NaN
             Print                                       NaN   1.0        NaN
...                                                      ...   ...        ...
2022         Photograph                                  5.0  34.0        NaN
             Print                                      10.0  10.0        NaN
             Sculpture                                   6.0   5.0        NaN
             Textile                                     2.0   NaN        NaN
             Video                                       2.0   3.0        NaN

                            gender_year_count
Gender_y                               female  male non-binary
DateAcquired Classification
1929         Drawing                      NaN   7.0        NaN
             Print                        NaN   7.0        NaN
1930         Drawing                      NaN   6.0        NaN
             Painting                     NaN   6.0        NaN
             Print                        NaN   6.0        NaN
...                                       ...   ...        ...
2022         Photograph                  47.0  76.0        NaN
             Print                       47.0  76.0        NaN
             Sculpture                   47.0  76.0        NaN
             Textile                     47.0   NaN        NaN
             Video                       47.0  76.0        NaN

[937 rows x 6 columns]

In [393]:
v.melt(id_vars=['DateAcquired', 'Classification', 'Gender_y'], value_vars=['gender_year_count','gender_year_classification_count'])

,DateAcquired,Classification,Gender_y,variable,value
0,1929,Drawing,male,gender_year_count,7
1,1929,Print,male,gender_year_count,7
2,1930,Drawing,male,gender_year_count,6
3,1930,Painting,male,gender_year_count,6
4,1930,Print,male,gender_year_count,6
...,...,...,...,...,...
3157,2022,Painting,male,gender_year_classification_count,6
3158,2022,Photograph,male,gender_year_classification_count,34
3159,2022,Print,male,gender_year_classification_count,10
3160,2022,Sculpture,male,gender_year_classification_count,5
3161,2022,Video,male,gender_year_classification_count,3

In [401]:
melted.pivot(index=["DateAcquired", "Classification"], columns=["Gender_y"], values=['variable','value'])

ValueError: Index contains duplicate entries, cannot reshape

In [408]:
melted.set_index(["DateAcquired", "Classification"]).pivot(columns='Gender_y')

ValueError: Index contains duplicate entries, cannot reshape

,DateAcquired,Classification,Gender_y,variable,value
0,1929,Drawing,male,gender_year_classification_count,1
1,1929,Print,male,gender_year_classification_count,6
2,1930,Drawing,male,gender_year_classification_count,2
3,1930,Painting,male,gender_year_classification_count,1
4,1930,Print,male,gender_year_classification_count,1
...,...,...,...,...,...
3157,2022,Painting,male,gender_year_count,76
3158,2022,Photograph,male,gender_year_count,76
3159,2022,Print,male,gender_year_count,76
3160,2022,Sculpture,male,gender_year_count,76
3161,2022,Video,male,gender_year_count,76

In [417]:
v#.pivot(columns='Gender_y')#.melt(id_vars=['DateAcquired', 'Classification', 'Gender_y'], value_vars=['gender_year_count','gender_year_classification_count'])

,DateAcquired,Gender_y,Classification,gender_year_classification_count,gender_year_count
0,1929,male,Drawing,1,7
1,1929,male,Print,6,7
2,1930,male,Drawing,2,6
3,1930,male,Painting,1,6
4,1930,male,Print,1,6
...,...,...,...,...,...
1576,2022,male,Painting,6,76
1577,2022,male,Photograph,34,76
1578,2022,male,Print,10,76
1579,2022,male,Sculpture,5,76
1580,2022,male,Video,3,76

In [431]:
#u.columns
#x = u[['Gender' 'DateAcquired_yr', 'Classification']]
x = u[['DateAcquired_yr', 'Gender', 'Classification']]

In [446]:
x = v.pivot(columns='Gender_y', values=['gender_year_classification_count', 'gender_year_count'], index=['DateAcquired', "Classification"])

In [448]:
x.columns

MultiIndex([('gender_year_classification_count',     'female'),
            ('gender_year_classification_count',       'male'),
            ('gender_year_classification_count', 'non-binary'),
            (               'gender_year_count',     'female'),
            (               'gender_year_count',       'male'),
            (               'gender_year_count', 'non-binary')],
           names=[None, 'Gender_y'])

In [449]:
x.columns = ['_'.join(col) for col in x.columns.values]

In [453]:
x.index
#x.to_csv('x.csv')

MultiIndex([(1929,      'Drawing'),
            (1929,        'Print'),
            (1930,      'Drawing'),
            (1930,     'Painting'),
            (1930,        'Print'),
            (1930,    'Sculpture'),
            (1931,     'Painting'),
            (1931,        'Print'),
            (1932, 'Architecture'),
            (1932,      'Drawing'),
            ...
            (2022, 'Installation'),
            (2022,        'Media'),
            (2022,     'Multiple'),
            (2022,     'Notebook'),
            (2022,     'Painting'),
            (2022,   'Photograph'),
            (2022,        'Print'),
            (2022,    'Sculpture'),
            (2022,      'Textile'),
            (2022,        'Video')],
           names=['DateAcquired', 'Classification'], length=937)

In [457]:
v

,DateAcquired,Gender_y,Classification,gender_year_classification_count,gender_year_count
0,1929,male,Drawing,1,7
1,1929,male,Print,6,7
2,1930,male,Drawing,2,6
3,1930,male,Painting,1,6
4,1930,male,Print,1,6
...,...,...,...,...,...
1576,2022,male,Painting,6,76
1577,2022,male,Photograph,34,76
1578,2022,male,Print,10,76
1579,2022,male,Sculpture,5,76
1580,2022,male,Video,3,76

In [551]:
for year in v.DateAcquired.unique():
    #v.loc["all", "Classification"] = v[[v.DateAcquired == year]].gender_year_count
    #print(v[v.DateAcquired == year].gender_year_count)
    for g in v[v.DateAcquired == year].Gender_y.unique():
        #print(v[(v.DateAcquired == year) & (v.Gender_y == g)].gender_year_count.values[0])
        #v.loc["all", "Classification"] = v[(v.DateAcquired == year) & (v.Gender_y == g)].gender_year_count.values[0]
 #       print(g, year)
#        df.loc[df["b"] == "x", "a"] = 5
        #print(v.loc[v[(v.DateAcquired == year) & (v.Gender_y == g) & (v.Classification == "all")] "Classification"])
        print(v[(v.DateAcquired == year) & (v.Gender_y == g)])

   DateAcquired Gender_y Classification  gender_year_classification_count  \
0          1929     male        Drawing                                 1
1          1929     male          Print                                 6

   gender_year_count
0                  7
1                  7
   DateAcquired Gender_y Classification  gender_year_classification_count  \
2          1930     male        Drawing                                 2
3          1930     male       Painting                                 1
4          1930     male          Print                                 1
5          1930     male      Sculpture                                 2

   gender_year_count
2                  6
3                  6
4                  6
5                  6
   DateAcquired Gender_y Classification  gender_year_classification_count  \
6          1931     male       Painting                                 2
7          1931     male          Print                                 1

   gender_year_count
6                  3
7                  3
   DateAcquired Gender_y Classification  gender_year_classification_count  \
8          1932   female     Photograph                                 1

   gender_year_count
8                  1
    DateAcquired Gender_y Classification  gender_year_classification_count  \
9           1932     male   Architecture                                 1
10          1932     male        Drawing                                 3
11          1932     male       Painting                                 1
12          1932     male          Print                                 2

    gender_year_count
9                   7
10                  7
11                  7
12                  7
    DateAcquired Gender_y Classification  gender_year_classification_count  \
13          1933     male     Photograph                                 1
14          1933     male          Print                                 2

    gender_year_count
13                  3
14                  3
    DateAcquired Gender_y Classification  gender_year_classification_count  \
15          1934   female        Drawing                                 1
16          1934   female          Print                                 2

    gender_year_count
15                  3
16                  3
    DateAcquired Gender_y    Classification  gender_year_classification_count  \
17          1934     male            Design                                 5
18          1934     male           Drawing                                12
19          1934     male  Illustrated Book                                 1
20          1934     male          Painting                                10
21          1934     male        Photograph                                 1
22          1934     male             Print                                14
23          1934     male         Sculpture                                 5

    gender_year_count
17                 48
18                 48
19                 48
20                 48
21                 48
22                 48
23                 48
    DateAcquired Gender_y Classification  gender_year_classification_count  \
24          1935   female         Design                                 1
25          1935   female        Drawing                                 1
26          1935   female          Print                                 1

    gender_year_count
24                  3
25                  3
26                  3
    DateAcquired Gender_y Classification  gender_year_classification_count  \
27          1935     male         Design                                 1
28          1935     male        Drawing                                41
29          1935     male       Painting                                14
30          1935     male     Photograph                                 2
31          1935     male          Print                                13

    gender_year_count
27                 71
28                 71
29                 71
30                 71
31                 71
    DateAcquired Gender_y Classification  gender_year_classification_count  \
32          1936   female         Design                                 6
33          1936   female        Drawing                                 1
34          1936   female      Sculpture                                 1

    gender_year_count
32                  8
33                  8
34                  8
    DateAcquired Gender_y Classification  gender_year_classification_count  \
35          1936     male         Design                                16
36          1936     male        Drawing                                15
37          1936     male       Painting                                13
38          1936     male          Print                                 2
39          1936     male      Sculpture                                 4

    gender_year_count
35                 50
36                 50
37                 50
38                 50
39                 50
    DateAcquired Gender_y Classification  gender_year_classification_count  \
40          1937   female         Design                                 4
41          1937   female        Drawing                                 2
42          1937   female       Painting                                 1
43          1937   female     Photograph                                 1

    gender_year_count
40                  8
41                  8
42                  8
43                  8
    DateAcquired Gender_y    Classification  gender_year_classification_count  \
44          1937     male            Design                                70
45          1937     male           Drawing                                16
46          1937     male  Illustrated Book                                 1
47          1937     male          Painting                                14
48          1937     male        Photograph                                 4
49          1937     male             Print                                 1
50          1937     male         Sculpture                                12

    gender_year_count
44                118
45                118
46                118
47                118
48                118
49                118
50                118
    DateAcquired Gender_y Classification  gender_year_classification_count  \
51          1938   female         Design                                 1
52          1938   female       Painting                                 1
53          1938   female     Photograph                                 1

    gender_year_count
51                  3
52                  3
53                  3
    DateAcquired Gender_y Classification  gender_year_classification_count  \
54          1938     male   Architecture                                 1
55          1938     male         Design                                 5
56          1938     male        Drawing                                 2
57          1938     male           Film                                 1
58          1938     male       Painting                                 6
59          1938     male     Photograph                                20
60          1938     male          Print                                 1
61          1938     male      Sculpture                                 5

    gender_year_count
54                 41
55                 41
56                 41
57                 41
58                 41
59                 41
60                 41
61                 41
    DateAcquired Gender_y Classification  gender_year_classification_count  \
62          1939   female        Drawing                                 1
63          1939   female     Photograph                                 1
64          1939   female          Print                                 1
65          1939   female      Sculpture                                 1

    gender_year_count
62                  4
63                  4
64                  4
65                  4
    DateAcquired Gender_y    Classification  gender_year_classification_count  \
66          1939     male      Architecture                                 1
67          1939     male            Design                                 8
68          1939     male           Drawing                                16
69          1939     male  Illustrated Book                                 1
70          1939     male          Painting                                27
71          1939     male        Photograph                                 5
72          1939     male             Print                                11
73          1939     male         Sculpture                                14

    gender_year_count
66                 83
67                 83
68                 83
69                 83
70                 83
71                 83
72                 83
73                 83
    DateAcquired Gender_y Classification  gender_year_classification_count  \
74          1940   female        Drawing                                 2
75          1940   female     Photograph                                 3
76          1940   female          Print                                21

    gender_year_count
74                 26
75                 26
76                 26
    DateAcquired Gender_y    Classification  gender_year_classification_count  \
77          1940     male            Design                                30
78          1940     male           Drawing                                27
79          1940     male  Illustrated Book                                 1
80          1940     male          Painting                                14
81          1940     male        Photograph                                10
82          1940     male             Print                               157
83          1940     male         Sculpture                                 3

    gender_year_count
77                242
78                242
79                242
80                242
81                242
82                242
83                242
    DateAcquired Gender_y Classification  gender_year_classification_count  \
84          1941   female        Drawing                                 3
85          1941   female       Painting                                 2
86          1941   female     Photograph                                18
87          1941   female          Print                                 8
88          1941   female      Sculpture                                 2

    gender_year_count
84                 33
85                 33
86                 33
87                 33
88                 33
    DateAcquired Gender_y Classification  gender_year_classification_count  \
89          1941     male         Design                                 4
90          1941     male        Drawing                                24
91          1941     male       Painting                                32
92          1941     male     Photograph                                86
93          1941     male          Print                                19
94          1941     male      Sculpture                                 6

    gender_year_count
89                171
90                171
91                171
92                171
93                171
94                171
     DateAcquired Gender_y Classification  gender_year_classification_count  \
95           1942   female         Design                                 4
96           1942   female        Drawing                                 5
97           1942   female       Painting                                 4
98           1942   female     Photograph                                 3
99           1942   female          Print                                 6
100          1942   female      Sculpture                                 1

     gender_year_count
95                  23
96                  23
97                  23
98                  23
99                  23
100                 23
     DateAcquired Gender_y    Classification  \
101          1942     male            Design
102          1942     male           Drawing
103          1942     male  Illustrated Book
104          1942     male          Painting
105          1942     male        Photograph
106          1942     male            Poster
107          1942     male             Print
108          1942     male         Sculpture

     gender_year_classification_count  gender_year_count
101                                 6                184
102                                51                184
103                                 1                184
104                                37                184
105                                25                184
106                                 1                184
107                                60                184
108                                 3                184
     DateAcquired Gender_y Classification  gender_year_classification_count  \
109          1943   female         Design                                 4
110          1943   female        Drawing                                 1
111          1943   female       Painting                                 1
112          1943   female     Photograph                                 4
113          1943   female      Sculpture                                 1

     gender_year_count
109                 11
110                 11
111                 11
112                 11
113                 11
     DateAcquired Gender_y Classification  gender_year_classification_count  \
114          1943     male         Design                                59
115          1943     male        Drawing                                18
116          1943     male       Painting                                21
117          1943     male     Photograph                                21
118          1943     male          Print                                29
119          1943     male      Sculpture                                 8

     gender_year_count
114                156
115                156
116                156
117                156
118                156
119                156
     DateAcquired Gender_y Classification  gender_year_classification_count  \
120          1944   female         Design                                 2
121          1944   female        Drawing                                 2
122          1944   female       Painting                                 3
123          1944   female     Photograph                                 8
124          1944   female          Print                                 2
125          1944   female      Sculpture                                 1

     gender_year_count
120                 18
121                 18
122                 18
123                 18
124                 18
125                 18
     DateAcquired Gender_y    Classification  \
126          1944     male            Design
127          1944     male           Drawing
128          1944     male  Illustrated Book
129          1944     male          Painting
130          1944     male        Photograph
131          1944     male             Print
132          1944     male         Sculpture

     gender_year_classification_count  gender_year_count
126                                20                108
127                                15                108
128                                 8                108
129                                13                108
130                                28                108
131                                23                108
132                                 1                108
     DateAcquired Gender_y    Classification  \
133          1945   female            Design
134          1945   female  Illustrated Book
135          1945   female          Painting

     gender_year_classification_count  gender_year_count
133                                 1                  4
134                                 1                  4
135                                 2                  4
     DateAcquired Gender_y    Classification  \
136          1945     male            Design
137          1945     male           Drawing
138          1945     male  Illustrated Book
139          1945     male          Painting
140          1945     male             Print
141          1945     male         Sculpture

     gender_year_classification_count  gender_year_count
136                                23                 89
137                                13                 89
138                                23                 89
139                                12                 89
140                                15                 89
141                                 3                 89
     DateAcquired Gender_y Classification  gender_year_classification_count  \
142          1946   female     Photograph                                 2
143          1946   female      Sculpture                                 2

     gender_year_count
142                  4
143                  4
     DateAcquired Gender_y    Classification  \
144          1946     male            Design
145          1946     male           Drawing
146          1946     male  Illustrated Book
147          1946     male          Painting
148          1946     male        Photograph
149          1946     male             Print
150          1946     male         Sculpture

     gender_year_classification_count  gender_year_count
144                                 8                 34
145                                 5                 34
146                                 2                 34
147                                 5                 34
148                                 7                 34
149                                 6                 34
150                                 1                 34
     DateAcquired Gender_y    Classification  \
151          1947   female            Design
152          1947   female           Drawing
153          1947   female  Illustrated Book
154          1947   female          Painting
155          1947   female             Print

     gender_year_classification_count  gender_year_count
151                                 1                 13
152                                 3                 13
153                                 7                 13
154                                 1                 13
155                                 1                 13
     DateAcquired Gender_y    Classification  \
156          1947     male      Architecture
157          1947     male            Design
158          1947     male           Drawing
159          1947     male  Illustrated Book
160          1947     male          Painting
161          1947     male        Photograph
162          1947     male             Print
163          1947     male         Sculpture

     gender_year_classification_count  gender_year_count
156                                 3                125
157                                13                125
158                                26                125
159                                20                125
160                                12                125
161                                 3                125
162                                45                125
163                                 3                125
     DateAcquired Gender_y Classification  gender_year_classification_count  \
164          1948   female         Design                                 5
165          1948   female          Print                                 5

     gender_year_count

      DateAcquired Gender_y       Classification  \
1482          2019   female       (not assigned)
1483          2019   female  Architectural Model
1484          2019   female                Audio
1485          2019   female               Design
1486          2019   female              Drawing
1487          2019   female                 Film
1488          2019   female       Graphic Design
1489          2019   female     Illustrated Book
1490          2019   female         Installation
1491          2019   female             Multiple
1492          2019   female             Painting
1493          2019   female           Photograph
1494          2019   female                Print
1495          2019   female            Sculpture
1496          2019   female                Video
1497          2019   female        Work on Paper

      gender_year_classification_count  gender_year_count
1482                                 1                 81
1483                                 1                 81
1484                                 1                 81
1485                                 7                 81
1486                                 7                 81
1487                                 2                 81
1488                                 1                 81
1489                                 1                 81
1490                                 2                 81
1491                                 2                 81
1492                                11                 81
1493                                27                 81
1494                                12                 81
1495                                 1                 81
1496                                 4                 81
1497                                 1                 81
      DateAcquired Gender_y    Classification  \
1498          2019     male      Architecture
1499          2019     male             Audio
1500          2019     male            Design
1501          2019     male           Drawing
1502          2019     male          Ephemera
1503          2019     male  Illustrated Book
1504          2019     male      Installation
1505          2019     male          Painting
1506          2019     male       Performance
1507          2019     male        Photograph
1508          2019     male             Print
1509          2019     male         Sculpture
1510          2019     male             Video
1511          2019     male     Work on Paper

      gender_year_classification_count  gender_year_count
1498                                 6                109
1499                                 1                109
1500                                 5                109
1501                                16                109
1502                                 1                109
1503                                 7                109
1504                                 4                109
1505                                 6                109
1506                                 1                109
1507                                37                109
1508                                12                109
1509                                 8                109
1510                                 4                109
1511                                 1                109
      DateAcquired Gender_y    Classification  \
1512          2020   female            Design
1513          2020   female          Document
1514          2020   female           Drawing
1515          2020   female  Illustrated Book
1516          2020   female      Installation
1517          2020   female          Multiple
1518          2020   female          Painting
1519          2020   female        Photograph
1520          2020   female             Print
1521          2020   female       Publication
1522          2020   female         Sculpture
1523          2020   female             Video

      gender_year_classification_count  gender_year_count
1512                                 1                 78
1513                                 1                 78
1514                                 9                 78
1515                                 2                 78
1516                                 3                 78
1517                                 1                 78
1518                                 1                 78
1519                                38                 78
1520                                17                 78
1521                                 1                 78
1522                                 1                 78
1523                                 3                 78
      DateAcquired Gender_y    Classification  \
1524          2020     male      Architecture
1525          2020     male             Audio
1526          2020     male            Design
1527          2020     male           Drawing
1528          2020     male  Illustrated Book
1529          2020     male      Installation
1530          2020     male          Multiple
1531          2020     male          Notebook
1532          2020     male          Painting
1533          2020     male        Photograph
1534          2020     male             Print
1535          2020     male         Sculpture
1536          2020     male             Video

      gender_year_classification_count  gender_year_count
1524                                 4                 59
1525                                 1                 59
1526                                 1                 59
1527                                 6                 59
1528                                 5                 59
1529                                 2                 59
1530                                 2                 59
1531                                 1                 59
1532                                 9                 59
1533                                11                 59
1534                                13                 59
1535                                 2                 59
1536                                 2                 59
      DateAcquired    Gender_y Classification  \
1537          2020  non-binary          Video

      gender_year_classification_count  gender_year_count
1537                                 1                  1
      DateAcquired Gender_y Classification  gender_year_classification_count  \
1538          2021   female   Architecture                                 1
1539          2021   female         Design                                 5
1540          2021   female        Drawing                                10
1541          2021   female           Film                                 1
1542          2021   female   Installation                                 5
1543          2021   female       Multiple                                 2
1544          2021   female       Painting                                11
1545          2021   female     Photograph                                54
1546          2021   female          Print                                13
1547          2021   female      Sculpture                                 4
1548          2021   female          Video                                 2

      gender_year_count
1538                108
1539                108
1540                108
1541                108
1542                108
1543                108
1544                108
1545                108
1546                108
1547                108
1548                108
      DateAcquired Gender_y    Classification  \
1549          2021     male      Architecture
1550          2021     male            Design
1551          2021     male           Drawing
1552          2021     male  Illustrated Book
1553          2021     male      Installation
1554          2021     male          Multiple
1555          2021     male          Painting
1556          2021     male        Photograph
1557          2021     male             Print
1558          2021     male         Sculpture
1559          2021     male             Video

      gender_year_classification_count  gender_year_count
1549                                 4                 93
1550                                11                 93
1551                                 9                 93
1552                                 2                 93
1553                                 2                 93
1554                                 3                 93
1555                                13                 93
1556                                34                 93
1557                                 6                 93
1558                                 6                 93
1559                                 3                 93
      DateAcquired Gender_y Classification  gender_year_classification_count  \
1560          2022   female        Collage                                 1
1561          2022   female         Design                                 1
1562          2022   female        Drawing                                 7
1563          2022   female   Installation                                 3
1564          2022   female          Media                                 1
1565          2022   female       Painting                                 9
1566          2022   female     Photograph                                 5
1567          2022   female          Print                                10
1568          2022   female      Sculpture                                 6
1569          2022   female        Textile                                 2
1570          2022   female          Video                                 2

      gender_year_count
1560                 47
1561                 47
1562                 47
1563                 47
1564                 47
1565                 47
1566                 47
1567                 47
1568                 47
1569                 47
1570                 47
      DateAcquired Gender_y    Classification  \
1571          2022     male           Drawing
1572          2022     male  Illustrated Book
1573          2022     male      Installation
1574          2022     male          Multiple
1575          2022     male          Notebook
1576          2022     male          Painting
1577          2022     male        Photograph
1578          2022     male             Print
1579          2022     male         Sculpture
1580          2022     male             Video

      gender_year_classification_count  gender_year_count
1571                                11                 76
1572                                 2                 76
1573                                 3                 76
1574                                 1                 76
1575                                 1                 76
1576                                 6                 76
1577                                34                 76
1578                                10                 76
1579                                 5                 76
1580                                 3                 76

In [556]:
v.at[(1929, "female", "all"), "Classification"] = "all"
#df.at[('EMEA', 'DISC', 'A', False), 'Quantity'] = 0

In [538]:
v[(v.DateAcquired == 1929) & (v.Gender_y == "male")].loc[:, "Classification"] = "All"

/var/folders/0p/s0q9sv6n1rb0g_gws3kj142w0000gn/T/ipykernel_5906/588044241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  v[(v.DateAcquired == 1929) & (v.Gender_y == "male")].loc[:, "Classification"] = "all"

In [598]:
v.at[(1929, "male", "all"), "gender_year_classification_count"] = "9999"

TypeError: DataFrame._get_value() got multiple values for argument 'takeable'

## From here

In [731]:
v = v.set_index(['DateAcquired','Gender_y', "Classification"])
for row in v.index:
    year = row[0]
    gender = row[1]
    classification = row[2]
    #print(v.gender_year_count)
    v.at[(year, gender, "All"), "gender_year_classification_count"] = v.loc[row, "gender_year_count"]
    #print(v.loc[row, "gender_year_count"])

/var/folders/0p/s0q9sv6n1rb0g_gws3kj142w0000gn/T/ipykernel_5906/2098652128.py:7: PerformanceWarning: indexing past lexsort depth may impact performance.
  v.at[(year, gender, "All"), "gender_year_classification_count"] = v.loc[row, "gender_year_count"]

In [732]:
v = v[['gender_year_classification_count']]
v = v.reset_index()

In [733]:
v = v.rename(columns={"gender_year_classification_count": "count", 
                      "DateAcquired" : "year",
                      "Gender_y" : "gender", 
                     "Classification" : "classification"})

In [734]:
v = v.sort_values(by=['year','gender','classification'], ignore_index=True, ascending=[True, True, False])

In [735]:
v = v.pivot(index=["year", "classification"], columns="gender", values="count").fillna(0)

In [736]:
v.to_csv('shaped_with_classification.csv')